Creating DataFrames

In [1]:
import numpy as np
import pandas as pd

From Python Lists of list

In [3]:
data=[
    ["alice",25],
    ["Himanshu",23],
    ["alok",22]
]
df=pd.DataFrame(data,columns=["Name","Age"])

In [4]:
print(df)

       Name  Age
0     alice   25
1  Himanshu   23
2      alok   22

from Dictionary of Lists

In [7]:
data={
    "name":['HImanshu','alok','aman'],
    "age"  :[24,22,23]
}
df=pd.DataFrame(data)
df.index=[1,2,3]

In [8]:
df

       name  age
1  HImanshu   24
2      alok   22
3      aman   23

From NumPy Arrays

In [16]:
arr=np.array([[1,2,],[3,4]])
df=pd.DataFrame(arr)
print("2d array")
df.columns=["C0","C1"]
df.index=["R0","R1"]

2d array

In [17]:
df

    C0  C1
R0   1   2
R1   3   4

Next we move to new file