In [5]:
import pandas as pd
#Concatenating DataFrames
#vertical

In [13]:
df1 = pd.DataFrame({"Name": ["Alice", "Bob"]})
df2 = pd.DataFrame({"Name": ["Charlie", "David"]})
pd.concat([df1,df2],axis=0)

      Name
0    Alice
1      Bob
0  Charlie
1    David

In [ ]:
#horizontal

In [17]:
df1 = pd.DataFrame({"ID": [1, 2]})
df2 = pd.DataFrame({"Score": [90, 80]})
pd.concat([df1,df2],axis=1)

   ID  Score
0   1     90
1   2     80