Pandas is a powerful, open-source Python library used for data manipulation,
cleaning, and analysis. It provides two main data structures:
Series: A one-dimensional labeled array
DataFrame: A two-dimensional labeled table (like an Excel sheet or SQL table)

Series — 1D Labeled Array

In [3]:
import pandas as pd
s=pd.Series([10,20,30,40,50])
s

0    10
1    20
2    30
3    40
4    50
dtype: int64

if i have to make a coloms a heading then

In [7]:
s2=pd.Series([80,90,100],index=["A","b","c"])

In [8]:
s2

A     80
b     90
c    100
dtype: int64

DataFrame — 2D Labeled Table

In [9]:
data={
    "name":["Himanshu","rohan","aakash","aanchal"],
    "section":["a2","f2","g2","c2"],
     "age":[24,22,21,20]
}

In [10]:
df=pd.DataFrame(data)
print(df)

       name section  age
0  Himanshu      a2   24
1     rohan      f2   22
2    aakash      g2   21
3   aanchal      c2   20

Index and Labels

In [11]:
data=[
    ["Himanshu","balodi"]
]
df=pd.DataFrame(data)

In [12]:
df.index=["name"]

In [13]:
df

             0       1
name  Himanshu  balodi

In [17]:
df.columns=["name","caste"]

In [18]:
df

          name   caste
name  Himanshu  balodi

Why Learn These Well?
Most Pandas operations are built on these foundations:
Selection
Filtering
Merging
Aggregation
Understanding Series & DataFrames will make everything else easier.

Summary
Series = 1D array with labels
DataFrame = 2D table with rows + columns